@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "poppins";
    src: url("/src/assets/poppins.ttf");
}

body {
    margin: 0;
    font-family: "poppins", sans-serif;
    background-color: #22272e;
    color: white;
}

hr {
    border: none;
    border-top: 3px dotted #444c56;
    flex-grow: 1;
}

@layer components {
    .fc {
        @apply flex items-center justify-center
    }
    .form-input {
        @apply rounded-md p-[10px] w-full my-[5px] bg-bgdark border-solid border-2 border-bgdark focus:border-solid focus:border-2 focus:border-main focus:outline-none
    }
    .button {
        @apply bg-main w-full rounded-md p-[10px] my-[5px] hover:bg-maindark
    }
    .outlet {
        @apply min-h-[calc(100vh-100px)]
    }
    .page-parent {
        @apply min-h-[calc(100vh-90px)]
    }
    .action-button {
        @apply bg-bg rounded-md h-full w-[60px] fc mr-[10px]
    }
}